.tenant-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tenant-profile-page h1{
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 1063px;
}

.profile-container {
    display: flex;
    width: 80%;
    margin-top: 10px;

}

.sidebar {
    flex: 1;
    margin-right: 20px;
    background-color: aliceblue;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li.active {
    background-color: #007bff;
    color: white;
}

.content {
    flex: 3;
}

.section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group button {
    padding: 10px 20px;
    cursor: pointer;
}

.section .check{
    margin-top: 1px;
}

.notifications-section .form-group input[type='checkbox']{
    display: flex; 
}
